<div style="text-align:center">
  <h1>
    <!-- assessing the class property title by placing it in '{{}}'
          this is known as interpolation which is one of the data binding techniques-->
    Welcome to {{title}}!!!

  </h1>
  <p>
    <!--
          <app-view-products></app-view-products>
       <app-login></app-login>
      <app-register></app-register>
        <app-feedback></app-feedback>
      <app-view-purchases></app-view-purchases>
         <app-view-cart></app-view-cart>
  -->

   <router-outlet></router-outlet>

  </p>
</div>
